h1{
    text-align: center;
    background: yellow;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: gold;
}

body{
    background-color: #00ffff;
}